{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": false
}
